/* @media screen and (min-width:419px) and (max-width:640px) {
  .departments_search_button {
    display: block;
    float: left;
    margin-right: auto;
  }
}

@media screen and (max-width: 418px) {
  .departments_search_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */
