@media screen and (max-width: 639px) {
  .price_form_container {
    margin-right: auto;
  }
}

@media screen and (max-width: 639px) {
    .price_form_container {
      margin-right: auto;
    }
  }

  @media screen and (max-width: 418px) {
    .price_text  {
   text-align: center;
    }
  }
  