/* @media screen and (min-width: 419px) and (max-width: 640px) {
  .selections_container {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: auto;

  }
  .selections_cityContainer {
    
  }
}

@media screen and (max-width: 418px) {
  .selections_container {
    text-align: center;
  }
} */
